<div class="container" [formGroup]="logInFormGroup">
    <div class="d-flex justify-content-left h-100">
        <div class="card">
            <div class="card-header">
                <h4>Log in to your ChatBot account</h4>
            </div>

            <div class="card-body">

                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <fa-icon [icon]="user_logo"></fa-icon>
                        </span>
                    </div>
                    <input type="email" class="form-control" placeholder="Type your email" formControlName="email">

                    <label for="" style="color: red; font-size: 16px" *ngIf="
                    logInFormGroup.get('email').invalid && logInFormGroup.get('email').touched
                    ">*Email required</label>
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <fa-icon [icon]="pass_logo"></fa-icon>
                        </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Type your password"
                        formControlName="password">
                    <label for="" style="color: red; font-size: 16px" *ngIf="
                    logInFormGroup.get('password').invalid && logInFormGroup.get('password').touched
                    ">*Password required</label>
                </div>

                <div class="row align-items-center remember">
                    <input type="checkbox">Remember Me
                </div>

                <div class="form-group">
                    <input type="submit" value="LOG IN" class="btn float-right login_btn" (click)="loginProcess()"
                        [disabled]="!logInFormGroup.valid">
                </div>

                <div class="container-fluid d-flex" style="margin-top: 80px;  padding: 30px;">
                    <button (click)="signInWithFB()">
                        <fa-icon [icon]="facebook_logo" style="font-size: 50px; color: skyblue;padding-left: 10px;">
                        </fa-icon>
                    </button>

                    <button (click)="signInWithGoogle()">
                        <fa-icon [icon]="google_logo" style="font-size: 50px; color: tomato; margin-left: 10px;">
                        </fa-icon>
                    </button>

                </div>


            </div>
            <!-- <div>
                <button type="button" (click)="signInWithFB()" class="btn btn-primary">Sign In With Facebook</button>
                <button type="button" (click)="signInWithGoogle()" class="btn btn-primary">Sign In With Google</button>
            </div> -->
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a routerLink="/signup">Sign
                        Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a routerLink="/forgotpass">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>