<div>
    <section id="features"
        style="background-image: url(https://miro.medium.com/max/700/1*h3FilbRH6tEQfW5PdQ3_ug.jpeg); background-size: cover; background-repeat: no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Features</h2>
                    <p class="lead" style="color: tomato;"><b style="font-size: 30px;">Characteristics of a Great
                            Chatbot</b></p>
                    <ul><b style="font-size: 21px; color: yellowgreen;">
                            <li> Conversational Maturity</li>
                            <li>Omni-capable</li>
                            <li>Integrates with CRM</li>
                            <li>Emotionally Intelligent</li>
                            <li>Free to Explore</li>
                            <li>Autonomous Reasoning</li>
                            <li>Pre-Trained</li>
                        </b>

                    </ul>
                </div>
            </div>
        </div>
    </section>

</div>