<div class="container" [formGroup]="forgotFormGroup">
    <div style="padding-top: 120px;"></div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>
                            <fa-icon [icon]="user_lock_logo" style="font-size: 100px;"></fa-icon>
                        </h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">
                            <div id="register-form" role="form" autocomplete="off" class="form" method="post">
                                <div class="form-group">
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <fa-icon [icon]="user_logo"></fa-icon>
                                            </span>
                                        </div>
                                        <input type="email" class="form-control" placeholder="Type your email"
                                            formControlName="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg reset_btn" value="Reset Password"
                                        type="submit" (click)="forgotPass()">
                                </div>
                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>